[GLOBAL]
pants_version = "2.11.0rc0"
backend_packages = [
  "pants.backend.codegen.protobuf.python",
  "pants.backend.codegen.thrift.apache.python",
  "pants.backend.experimental.codegen.protobuf.scala",
  "pants.backend.experimental.scala",
  "pants.backend.python",
]

[anonymous-telemetry]
enabled = true
repo_id = "205E301D-44A4-42FF-8495-C9D41871A431"

[python]
interpreter_constraints = ["CPython>=3.8,<3.11"]

# Enable the "resolves" mechanism, which turns on lockfiles for user code. See
 # https://www.pantsbuild.org/docs/python-third-party-dependencies. This also adds the
 # `generate-lockfiles` goal for Pants to generate the lockfile for you, although in some
 # situations you may need to manually generate it, as explained in the docs.
enable_resolves = true

[scala.version_for_resolve]
"jvm-default" = "2.13.8"
